/* ---------- VARIABLES -------------- */
:root {
  /* --- colores --- */
  --red: #b12c15;
  --green: #487018;
  --brown: #683d1e;
  --orange: #dd7728;
  /* --background-color: #f6d781; */
  --background-color: #ffffff;
  --yellow: #ebba46;
  --white: #fff;
  --black: #000000;

  /* --- box-shodow --- */
  --card-elevation: 0px 6px 12px rgba(29, 7, 1, 0.12);
  /* --- border-radius --- */
  --card-border-radius: 12px;

  /* --- typografia --- */
  --font-family: "Roboto Slab", sans-serif;

  /* --- spacing --- */
  --medida1: 8px;
  --medida2: 16px;
  --medida3: 24px;
  --medida4: 32px;
  --medida5: 40px;
}
/*** __________________ELEMENTS ____________****/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--black);
}

p {
  margin: 0px;
  padding: 0px;
}
h1  {
  Font-family: Fredoka One;
  font-size: 72px;
}
h2 {
  font-size: 34px;
  margin: 0px;
  padding-top: 40px;
  color: var(--brown);
  font-family: Fredoka One;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 56px;
  }
}

h3 {
  margin: 0px;
  padding-top: 28px;
  color: var(--brown);
  font-family: Fredoka One;
}
@media screen and (min-width: 800px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 24px;
  color: var(--brown);
  font-family: Fredoka One;
  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  color: var(--brown);
}
a p {
  
   color: var(--brown); 
}


h6 {
  margin: 0px;
}
.button--primary {
  /* Rectangulo*/
  background-color: var(--orange);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  height: 42px;
  border-width: 0px;
  cursor: pointer;
  padding-right: 16px;
  padding-left: 16px;

  /* texto*/
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
}
.button--secondary {
  /* Rectangulo*/
  background-color: var(--yellow);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  height: 42px;
  border-width: 0px;
  cursor: pointer;
  padding-right: 16px;
  padding-left: 16px;

  /* texto*/
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--red);
}

/*** ______________OBJECT_________________ ****/
.o-wrapper {
  padding: 16px;

  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .o-section__gap {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


/*** ____________-COMPONENTS____________ ****/
/* Hero component */
.c-hero {
  margin-bottom: 0;
  position: static;
}
.c-hero__wrapper {
  /* [2] */
  position: relative; /* [3] */
  /* [4] */
  background-color: #2e2620;
  color: #fff; /* [1] */
  max-width: 1500px;
  padding-top: 121.08%;
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .c-hero__wrapper {
    height: 600px;
    padding-top: 0px;
  }
}

.c-hero__picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.c-hero__backgraund-image {
  width: 100%;
  height: 100%;
  display: absolute;
  object-fit: cover;
}

.c-hero__h1 {
  font-family: "Fredoka One", cursive;
  font-size: 32px;
  color: #fff;
  margin: 0;
  padding: 0;
  
  margin-bottom: 8px;
}

@media screen and (min-width: 360px) {
  .c-hero__h1 {
    font-size: 38px;
    
  }
}

@media screen and (min-width: 768px) {
  .c-hero__h1 {
    font-size: 66px;
    
  }
}

.c-hero__copy {
  font-size: 20px;
}

.c-hero__content {
  margin: 0;
  position: absolute;
  bottom: 35%;
  left: auto;
  color: #fff;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .c-hero__content {
    max-width: 760px;
  }
}

.c-hero__logo {
  width: 104;
  height: 119px;
  position: absolute;
  top: 0px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
.c-hero__logo {
  width: 128;
  height: 147px;
  position: absolute;
  top: 0px;
  z-index: 2;
}
}

/*  Menu */
.c-menu {
  border: 8px var(--green);
  border-left-width: 8px;
  border-left-style: solid;
  border-top-width: 8px;
  border-top-style: solid;
  border-right-width: 8px;
  border-right-style: solid;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  margin: 4px;
}

.c-menu__title-container {
  background: var(--red);

  text-align: center;
}

.c-menu__title {
  color: var(--white);
  padding: 16px;
}

.c-menu_tabs {
  font-family: var(--font-family);
}
@media screen and (min-width: 1280px) {
  .c-menu_tabs {
    font-size: 20px;
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
  
  background-color: #f1f1f1;
  
    position: sticky;
    top: 0px;
    z-index: 9;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: var(--font-family);
  color: rgba(74, 106, 36, 0.49);
}
@media screen and (min-width: 1280px) {
  .tab button {
    font-size: 20px;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--white);
  color: var(--green);
  box-shadow: inset 0px 4px 0px #487018;
  font-weight: 800;

  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid #ccc;
  border-top: none;
  background-color: var(--white);
  
}

.c-menu__option-description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.c-menu__grid-options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
 
}

.c-menu-option {
  position: relative;
}
.c-menu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .c-menu__grid-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

.c-menu__option-img {
  width: 105px; 
  height: 105px;
  margin-right: 16px;
}
@media screen and (min-width: 1280px) {
  .c-menu__option-img {
    width: 221px; 
    height: 221px;
  }
}

.c-menu__option-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
/**
* covers will have some large text in them. Let’s position that bottom-left.
*/

/* Slideshow container */
.c-slideshow-container {
  position: relative;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  border-radius: 999px;
  margin-right: 8px;
}
/* Slides */
.c-slideshow__mySlides {
  display: none;
  
  text-align: left;
  
 
  color: var(--brown);
  max-width: 600px;
}
.c-slideshow-card {
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 16px 61px rgba(74, 106, 36, 0.12);
  padding: 16px;
}
.c-slideshow__autor {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
/* Next & previous buttons */
.c-slideshow__prev,
.c-slideshow__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 99px;
  user-select: none;
  line-height: 12px;
}

/* Position the "next button" to the right */
.c-slideshow__next {
  right: -16px;
  margin-top: 64px;
}

.c-slideshow__prev {
  left: -16px;
  margin-top: 64px;
}
@media screen and (min-width: 800px) {
  .c-slideshow__next {
    right: 4%;
    margin-top: 72px;
  }

  .c-slideshow__prev {
    left: 4%;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1192px) {
  .c-slideshow__next {
    right: 20%;
    margin-top: 72px;
  }

  .c-slideshow__prev {
    left: 20%;
    margin-top: 72px;
  }
}

/* On hover, add a black background color with a little bit see-through */
.c-slideshow__prev:hover,
.c-slideshow__next:hover {
  background-color: var(--orange);
  color: white;
}

/* The dot/bullet/indicator container */
.c-slideshow__dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.c-slideshow__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.c-slideshow__active,
.c-slideshow__dot:hover {
  background-color: var(--orange);
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}


/* --- Map Directions Compontnet --- */
/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

.c-map__grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  
  
}

@media screen and (min-width: 700px) {
  .c-map__grid {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  
}
}

.c-map__grid-child {
  display: grid;
  place-items: center;
}

.c-map__text-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* --- Footer --- */
.c-footer {
  background-color: var(--black);
}

.c-footer__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 8px;
  margin: 0 auto;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.87);
  align-self: auto;
}

.c-footer__ul--col {
  display: flex;
  text-decoration: none;
  margin: 0px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  padding-inline-start: 0px;
}

.c-footer__ul--row {
  text-decoration: none;
  margin: 0px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
  padding-inline-start: 0px;
  
}

.c-footer__grid-item {
  display: grid;
  justify-items: center;
  align-items: center;
}

.c-footer li {
  list-style: none;
  display: grid;
  line-height: 1.618;
  grid-gap: var(--medida2);
}

.c-footer a {
  display: grid;
  grid-gap: 16px;
  font-style: normal;

  line-height: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: none;
  color: var(--white);
}

.c-footer a:hover {
  color: var(--naranja-bodegom);
}
.c-footer--ul {
  padding-inline-start: 0px;
  margin-bottom: var(--medida1);
}

.c-footer--ul::before {
  content: attr(aria-label);
  font-size: 100%;
  font-weight: bold;
  margin-left: 0px;
  color: #acaaaa;
}

@media screen and (min-width: 648px) {
  .c-footer__lg-ul--row {
    display: flex;
    text-decoration: none;
    margin: 0px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    padding-inline-start: 0px;
  }
}

@media screen and (min-width: 648px) {
  .c-footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 24px;
    margin: 0 auto;
    max-width: 100%;
    color: rgba(189, 189, 189, 0.87);
  }

  .c-footer__grid-item {
    display: grid;
    justify-items: left;
    align-items: left;
    
  }
}

ul::before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: 0px;
}
/* --- Footer --- */

/* --- Hero Order Online --- */
.c-order-hero__grid {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.c-order-hero__grid-child {
  flex: 1 1 150px; /*  straechin  */
  flex: 0 1 150px; /* No straechin  */
  border-color: rgb(0 0 0);
  margin: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-width: 2px;
  border-style: solid;
  background-color: white; 
    padding: 24px; 
    border-radius: 24px; 
    background-color: white; 
    padding: 24px; 
    border-radius: 24px; 
    display: inline-block;
}


/* --- End Hero Order Online --- */

/*** ____________-SETTINGS ****/
.mb-0 {
  margin-bottom: 0px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb7 {
  margin-bottom: 72px;
}

.pb-3 {
  padding-bottom: 32px;
 }

.pt-3 {
 padding-top: 32px;
}
.pt-4 {
  padding-top: 40px;
}

.text-color-white {
  color: var(--white);
}
.center {
  display: grid;
  place-items: center;
}


.stroke-text {
  --stroke-color: var(--red);
  --stroke-width: 5px;
  letter-spacing: var(--stroke-width);
  color: white;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}
.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

